@use 'abstracts/functions' as fn;

.about .content h3 {
	font-weight: 600;
	font-size: fn.font-size('2xl');
}

.about .content ul {
	list-style: none;
	padding: fn.spacing('0');
}

.about .content ul li {
	padding-left: fn.spacing('6');
	position: relative;
}

.about .content ul li+li {
	margin-top: fn.spacing('3');
}

.about .content ul i {
	position: absolute;
	left: 0;
	top: fn.spacing('1');
	font-size: fn.font-size('xl');
	color: fn.get-color('accent', 'DEFAULT');
	line-height: 1;
}

.about .content p:last-child {
	margin-bottom: 0;
}
