@use "abstracts/functions" as fn;

body {
	background: fn.get-color("body");
	min-height: 100vh;
	position: relative;
}

.notification-ui a:after {
	display: none;
}

.notification-ui_icon {
	position: relative;
}

.notification-ui_icon .unread-notification {
	display: inline-block;
	height: fn.spacing("2");
	width: fn.spacing("2");
	border-radius: fn.spacing("2");
	background-color: fn.get-color("success");
	position: absolute;
	top: fn.spacing("2");
	left: fn.spacing("3");
}

@media (min-width: 900px) {
	.notification-ui_icon .unread-notification {
		left: fn.spacing("5");
	}
}

.notification-ui_dd {
	padding: fn.spacing("0");
	border-radius: fn.spacing("2");
	-webkit-box-shadow: 0 fn.spacing("1.5") fn.spacing("5") fn.spacing("-0.5") fn.color-opacity("black", 0.16);
	box-shadow: 0 fn.spacing("1.5") fn.spacing("5") fn.spacing("-0.5") fn.color-opacity("black", 0.16);
	border: 0;
	max-width: 400px;
}

@media (min-width: 900px) {
	.notification-ui_dd {
		min-width: 400px;
		position: absolute;
		left: fn.spacing("-12");
		top: fn.spacing("4");
	}
}

.notification-ui_dd:after {
	content: "";
	position: absolute;
	top: fn.spacing("-2");
	left: calc(50% - fn.spacing("1"));
	border-top: fn.spacing("1") solid transparent;
	border-right: fn.spacing("1") solid transparent;
	border-bottom: fn.spacing("1") solid fn.get-color("white");
	border-left: fn.spacing("1") solid transparent;
}

.notification-ui_dd .notification-ui_dd-header {
	border-bottom: fn.spacing("px") solid fn.get-color("gray", "400");
	padding: fn.spacing("3");
}

.notification-ui_dd .notification-ui_dd-header h3 {
	margin-bottom: fn.spacing("0");
}

.notification-ui_dd .notification-ui_dd-content {
	max-height: fn.spacing("10");
	overflow: auto;
}

.notification-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: fn.spacing("4") 0;
	margin: 0 fn.spacing("5");
	border-bottom: fn.spacing("px") solid fn.get-color("gray", "400");
}

.notification-list--unread {
	position: relative;
}

.notification-list--unread:before {
	content: "";
	position: absolute;
	top: 0;
	left: fn.spacing("-6");
	height: calc(100% + 1px);
	border-left: fn.spacing("px") solid fn.get-color("info");
}

.notification-list .notification-list_img img {
	height: fn.spacing("12");
	width: fn.spacing("12");
	border-radius: fn.spacing("2");
	margin-right: fn.spacing("4");
}

.notification-list .notification-list_detail p {
	margin-bottom: fn.spacing("1");
	line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
	height: fn.spacing("12");
	width: fn.spacing("12");
	border-radius: fn.radius("sm");
	margin-left: fn.spacing("4");
}
