@use 'abstracts/functions' as fn;
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as mx;

#header {
	@include mx.transition-default;
	z-index: fn.z('header');
	padding: fn.spacing('2') 0;
	background-color: fn.get-color('primary');
}

#header.header-scrolled,
#header.header-inner-pages {
	background: fn.color-opacity('primary', 0.9);
}

#header .logo {
	font-size: fn.font-size('3xl');
	margin: fn.spacing('0');
	padding: fn.spacing('0');
	line-height: 1;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#header .logo a {
	color: fn.get-color('white');
	text-decoration: none;

	&:hover {
		color: fn.get-color('white');
		text-decoration: none;
	}
}

#header .logo img {
	max-height: fn.rem(40, 16);
}
