@use 'abstracts/variables' as *;
@use 'abstracts/functions' as fn;

#hero {
	width: 100%;
	height: 80vh;
	background: fn.get-color('primary');
}

#hero .container {
	padding-top: fn.spacing('16');
}

#hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
	#hero {
		height: 100vh;
		text-align: center;
	}

	#hero .animated {
		-webkit-animation: none;
		animation: none;
	}

	#hero .hero-img {
		text-align: center;
	}

	#hero .hero-img img {
		width: 50%;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: fn.font-size('3xl');
		line-height: 36px;
	}

	#hero h2 {
		font-size: fn.font-size('lg');
		line-height: 24px;
		margin-bottom: fn.spacing('2');
	}

	#hero .hero-img img {
		width: 70%;
	}
}

@media (max-width: 575px) {
	#hero .hero-img img {
		width: 80%;
	}

	#hero .btn-get-started {
		font-size: fn.font-size('base');
		padding: fn.spacing('1') fn.spacing('4') fn.spacing('1') fn.spacing('4');
	}
}

@-webkit-keyframes up-down {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}

@keyframes up-down {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}
