@use 'abstracts/functions' as fn;

.home-section {
	position: relative;
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	z-index: 2;
	background-color: fn.get-color('ghost-white');
}

.home-content {
	padding: fn.spacing('3');
}

.sidebar.open~.home-section {
	left: fn.spacing('2');
	width: calc(100% - fn.spacing('2'));
}

.home-section {
	.text {
		display: inline-block;
		color: fn.get-color('text');
		font-size: fn.font-size('2xl');
		font-weight: 500;
		margin: 1.125rem;
	}

	p,
	ul {
		font-size: fn.font-size('base');
		font-weight: 500;
		margin: 1.125rem;
	}

	.td.alert {
		font-weight: 600;
		padding: fn.spacing('1') fn.spacing('4');
		border-radius: fn.spacing('1');
		font-size: fn.font-size('sm');
	}

}

@media (max-width: 420px) {
	.sidebar li .tooltip {
		display: none;
	}
}

.form-check-input:checked {
	background-color: fn.get-color('danger');
	border-color: fn.get-color('gray', '400');
}

.accordion-button {
	font-size: fn.font-size('xl');
	font-style: italic;
}
