@use 'abstracts/typography' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/functions' as fn;
@use 'abstracts/mixins' as mx;

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}

	li {
		position: relative;
	}

	a,
	a:focus {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0 10px 30px;
		font-size: 15px;
		font-weight: 500;
		color: fn.get-color('white');
		white-space: nowrap;
		transition: 0.3s;
	}

	a i,
	a:focus i {
		font-size: 0.75rem;
		line-height: 0;
		margin-left: 5px;
	}

	a:hover,
	.active,
	.active:focus,
	li:hover>a {
		color: #47b2e4;
	}

	.getstarted {
		padding: 8px 20px;
		margin-left: 30px;
		border-radius: 50px;
		color: #fff;
		font-size: 0.875rem;
		border: 2px solid #47b2e4;
		font-weight: 600;
		font-family: $font-primary;
	}

	.getstarted:hover {
		color: #fff;
		background: #31a9e1;
	}

	.dropdown ul {
		display: block;
		position: absolute;
		left: 14px;
		top: calc(100% + 30px);
		margin: 0;
		padding: 10px 0;
		z-index: 99;
		opacity: 0;
		visibility: hidden;
		background: fn.get-color('white');
		box-shadow: 0 0 30px fn.color-opacity('gray-light', 0.25);
		transition: 0.3s;
	}

	.dropdown ul li {
		min-width: 200px;
	}

	.dropdown ul a {
		padding: 10px 20px;
		font-size: 0.875 rem;
		text-transform: none;
		font-weight: 500;
		color: #0c3c53;
	}

	.dropdown ul a i {
		font-size: 0.75rem;
	}

	.dropdown ul a:hover,
	.dropdown ul .active:hover,
	.dropdown ul li:hover>a {
		color: #47b2e4;
	}

	.dropdown:hover>ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.dropdown .dropdown ul {
		top: 0;
		left: calc(100% - 30px);
		visibility: hidden;
	}

	.dropdown .dropdown:hover>ul {
		opacity: 1;
		top: 0;
		left: 100%;
		visibility: visible;
	}

	@media (max-width: 1366px) {
		.dropdown .dropdown ul {
			left: -90%;
		}

		.dropdown .dropdown:hover>ul {
			left: -100%;
		}
	}

	/**
	    * Mobile Navigation
	    */
	.mobile-nav-toggle {
		color: #fff;
		font-size: 1.75rem;
		cursor: pointer;
		display: none;
		line-height: 0;
		transition: 0.5s;
	}

	.mobile-nav-toggle.bi-x {
		color: #fff;
	}

	@media (max-width: 991px) {
		.mobile-nav-toggle {
			display: block;
		}

		.navbar ul {
			display: none;
		}
	}

	.navbar-mobile {
		position: fixed;
		overflow: hidden;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: fn.color-opacity('footer-bg', 0.9);
		transition: 0.3s;
		z-index: 999;
	}

	.navbar-mobile .mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	.navbar-mobile ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		border-radius: 10px;
		background-color: #fff;

		.navbar ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			align-items: center;
		}

		.navbar li {
			position: relative;
		}

		.navbar a,
		.navbar a:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0 10px 30px;
			font-size: 15px;
			font-weight: 500;
			color: get-color('white');
			white-space: nowrap;
			transition: 0.3s;
		}

		.navbar a i,
		.navbar a:focus i {
			font-size: 0.75rem;
			line-height: 0;
			margin-left: 5px;
		}

		.navbar a:hover,
		.navbar .active,
		.navbar .active:focus,
		.navbar li:hover>a {
			color: #47b2e4;
		}

		.navbar .getstarted {
			padding: 8px 20px;
			margin-left: 30px;
			border-radius: 50px;
			color: #fff;
			font-size: 0.875rem;
			border: 2px solid #47b2e4;
			font-weight: 600;
			font-family: $font-primary;
		}

		.navbar .getstarted:hover {
			color: #fff;
			background: #31a9e1;
		}

		.navbar .dropdown ul {
			display: block;
			position: absolute;
			left: 14px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: #fff;
			box-shadow: 0 0 30px fn.color-opacity('gray-light', 0.25);
			transition: 0.3s;
			border-radius: 4px;
		}

		.navbar .dropdown ul li {
			min-width: 200px;
		}

		.navbar .dropdown ul a {
			padding: 10px 20px;
			font-size: 0.875 rem;
			text-transform: none;
			font-weight: 500;
			color: #0c3c53;
		}

		.navbar .dropdown ul a i {
			font-size: 0.75rem;
		}

		.navbar .dropdown ul a:hover,
		.navbar .dropdown ul .active:hover,
		.navbar .dropdown ul li:hover>a {
			color: #47b2e4;
		}

		.navbar .dropdown:hover>ul {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}

		.navbar .dropdown .dropdown ul {
			top: 0;
			left: calc(100% - 30px);
			visibility: hidden;
		}

		.navbar .dropdown .dropdown:hover>ul {
			opacity: 1;
			top: 0;
			left: 100%;
			visibility: visible;
		}

		@media (max-width: 1366px) {
			.navbar .dropdown .dropdown ul {
				left: -90%;
			}

			.navbar .dropdown .dropdown:hover>ul {
				left: -100%;
			}
		}

		/**
    * Mobile Navigation
    */
		.mobile-nav-toggle {
			color: #fff;
			font-size: 1.75rem;
			cursor: pointer;
			display: none;
			line-height: 0;
			transition: 0.5s;
		}

		.mobile-nav-toggle.bi-x {
			color: #fff;
		}

		@media (max-width: 991px) {
			.mobile-nav-toggle {
				display: block;
			}

			.navbar ul {
				display: none;
			}
		}

		.navbar-mobile {
			position: fixed;
			overflow: hidden;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: fn.color-opacity('footer-bg', 0.9);
			transition: 0.3s;
			z-index: 999;
		}

		.navbar-mobile .mobile-nav-toggle {
			position: absolute;
			top: 15px;
			right: 15px;
		}

		.navbar-mobile ul {
			display: block;
			position: absolute;
			top: 55px;
			right: 15px;
			bottom: 15px;
			left: 15px;
			padding: 10px 0;
			border-radius: 10px;
			background-color: #fff;
			overflow-y: auto;
			transition: 0.3s;
		}

		.navbar-mobile a {
			padding: 10px 20px;
			font-size: 0.9375rem;
			color: fn.get-color('primary');
		}

		.navbar-mobile a:hover,
		.navbar-mobile .active,
		.navbar-mobile li:hover>a {
			color: #47b2e4;
		}

		.navbar-mobile .getstarted {
			margin: 15px;
			color: fn.get-color('primary');
		}

		.navbar-mobile .dropdown ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: fn.get-color('white');
			box-shadow: 0 0 30px fn.color-opacity('gray-light', 0.25);
		}

		.navbar-mobile .dropdown ul li {
			min-width: 200px;
		}

		.navbar-mobile .dropdown ul a {
			padding: 10px 20px;
		}

		.navbar-mobile .dropdown ul a i {
			font-size: 0.75rem;
		}

		.navbar-mobile .dropdown ul a:hover,
		.navbar-mobile .dropdown ul .active:hover,
		.navbar-mobile .dropdown ul li:hover>a {
			color: #47b2e4;
		}

		.navbar-mobile .dropdown>.dropdown-active {
			display: block;
		}

	}
}

.navbar-header {
	.navbar-brand-box {
		background: fn.get-color('primary');
	}
}
