@use 'abstracts/functions' as fn;

body {
	font-family: "Roboto", sans-serif;
	color: fn.get-color('primary');
}

ul {
	padding-left: 0;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: fn.get-color('primary');
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;
}

.sidebar.vertical-menu-btn {
	width: 250px;
}

.sidebar .logo-details {
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
}

.sidebar .logo-details .logo_name {
	color: fn.get-color('white');
	font-size: fn.font-size('xl');
	font-weight: 600;
	opacity: 0;
	transition: all 0.5s ease;
}

.sidebar.vertical-menu-btn .logo-details .icon,
.sidebar.vertical-menu-btn .logo-details .logo_name {
	opacity: 1;
}

.sidebar .logo-details #btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: fn.font-size('2xl');
	transition: all 0.4s ease;
	font-size: fn.font-size('2xl');
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
}

.sidebar.vertical-menu-btn .logo-details #btn {
	text-align: right;
}

.sidebar i {
	color: fn.get-color('white');
	height: 60px;
	min-width: 50px;
	font-size: fn.font-size('3xl');
	text-align: center;
	line-height: 60px;
}

.sidebar .nav-list {
	margin-top: 20px;
	height: 100%;
}

.sidebar li {
	position: relative;
	margin: 8px 0;
	list-style: none;
}

.sidebar li .tooltip {
	position: absolute;
	top: -20px;
	left: calc(100% + 15px);
	z-index: 3;
	background: fn.get-color('white');
	box-shadow: 0 5px 10px fn.color-opacity('black', 0.3);
	padding: 6px 12px;
	border-radius: 4px;
	font-size: fn.font-size('sm');
	font-weight: 400;
	opacity: 0;
	white-space: nowrap;
	pointer-events: none;
	transition: 0s;
}

.sidebar li:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
	top: 50%;
	transform: translateY(-50%);
}

.sidebar.vertical-menu-btn li .tooltip {
	display: none;
}

.sidebar input {
	font-size: fn.font-size('sm');
	color: fn.get-color('white');
	font-weight: 400;
	outline: none;
	height: 50px;
	width: 100%;
	width: 50px;
	border: none;
	border-radius: 12px;
	transition: all 0.5s ease;
	background: fn.color-opacity('sidebar-dark', 0.9);
}

.sidebar.vertical-menu-btn input {
	padding: 0 20px 0 50px;
	width: 100%;
}

.sidebar li a {
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 12px;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	background: fn.color-opacity('sidebar-dark', 0.9);
}

.sidebar li a:hover {
	background: fn.get-color('white');
}

.sidebar li a .links_name {
	color: fn.get-color('white');
	font-size: fn.font-size('sm');
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
}

.sidebar.vertical-menu-btn li a .links_name {
	opacity: 1;
	pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
	transition: all 0.5s ease;
	color: fn.get-color('text');
}

.sidebar li i {
	height: 50px;
	line-height: 50px;
	font-size: fn.font-size('lg');
	border-radius: 12px;
}
