@use 'abstracts/colors' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/functions' as fn;

#page-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1002;
	background-color: ghostwhite;
	box-shadow: $box-shadow;
}

.navbar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: $header-height;
	padding: 0 calc(#{$grid-gutter-width} * 0.5) 0 0;
}

.navbar-brand-box {
	padding: 0 1rem;
	text-align: center;
	width: 250px;
	background: fn.get-color('primary');
}

.logo {
	line-height: 70px;

	&-sm {
		display: none;
	}

	&-lg {
		color: fn.get-color('white');
		font-size: 1.25rem;
		font-weight: 600;
		opacity: 1;
	}

	&-dark {
		display: none;
	}

	&-light {
		display: block;
	}
}

.nav-item {
	position: relative;
	color: #555b6d;

	.nav-link {
		border: none;
		color: #555b6d;

		&::after {
			content: "";
			background: get-color('primary');
			height: 2px;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -1px;
			transition: all 250ms ease 0s;
			transform: scale(0);
			color: #555b6d;
		}

		&.active {
			color: get-color('primary');

			&:after {
				transform: scale(1);
			}
		}

	}
}

.logo-light {
	display: none;
}

// Mega menu

.megamenu-list {
	li {
		position: relative;
		padding: 5px 0px;

		a {
			color: get-color('primary');
		}
	}
}

@media (max-width: 992px) {
	.navbar-brand-box {
		width: auto;
	}

	.logo {

		span.logo-lg {
			display: none;
		}

		span.logo-sm {
			display: inline-block;
		}
	}
}

.page-content {
	padding: calc(#{$header-height} + #{$grid-gutter-width}) calc(#{$grid-gutter-width} * 0.75);
}

.header-item {
	height: $header-height;
	box-shadow: none !important;
	color: $header-item-color;
	border: 0;
	border-radius: 0px;

	&:hover {
		color: $header-item-color;
	}
}

.header-profile-user {
	height: 36px;
	width: 36px;
	background-color: get-color('tertiary');
	padding: 3px;
}

.noti-icon {
	i {
		font-size: 22px;
		color: $header-item-color;
	}

	.badge {
		position: absolute;
		top: 12px;
		right: 4px;
	}
}

.notification-item {
	.d-flex {
		padding: 0.75rem 1rem;

		&:hover {
			background-color: lightgrey;
		}
	}
}

// Dropdown with Icons
.dropdown-icon-item {
	display: block;
	border-radius: 3px;
	line-height: 34px;
	text-align: center;
	padding: 15px 0 9px;
	display: block;
	border: 1px solid transparent;
	color: get-color('primary');

	img {
		height: 24px;
	}

	span {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:hover {
		border-color: lightgray;
	}
}

// Full Screen
.fullscreen-enable {
	[data-bs-toggle="fullscreen"] {
		.bx-fullscreen::before {
			content: "\ea3f";
		}
	}
}

@media (max-width: 600px) {
	.navbar-header {
		.dropdown {
			position: static;

			.dropdown-menu {
				left: 10px !important;
				right: 10px !important;
			}
		}
	}
}

@media (max-width: 380px) {
	.navbar-brand-box {
		display: none;
	}
}

body[data-layout="horizontal"] {
	.navbar-brand-box {
		width: auto;
	}

	.page-content {
		margin-top: $header-height;
		padding: calc(55px + #{$grid-gutter-width}) calc(#{$grid-gutter-width} * 0.5);
	}
}

@media (max-width: 992px) {
	body[data-layout="horizontal"] {
		.page-content {
			margin-top: 15px;
		}
	}
}

hr {
	opacity: 1;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
