@use 'abstracts/variables' as *;
@use 'abstracts/functions' as fn;
@use "sass:color";

.metismenu {
	margin: 0;

	li {
		display: block;
		width: 100%;
	}

	.mm-collapse {
		display: none;

		&:not(.mm-show) {
			display: none;
		}

		&.mm-show {
			display: block
		}
	}

	.mm-collapsing {
		position: relative;
		height: 0;
		overflow: hidden;
		transition-timing-function: ease;
		transition-duration: .35s;
		transition-property: height, visibility;
	}
}


.vertical-menu {
	color: fn.get-color('primary');
	width: $sidebar-width;
	z-index: 1001;
	background: fn.get-color('primary');
	bottom: 0;
	margin-top: 0;
	position: fixed;
	top: $header-height;
	box-shadow: $box-shadow;
}

.main-content {
	margin-left: $sidebar-width;
	overflow: hidden;

	.content {
		padding: 0 15px 10px 15px;
		margin-top: $header-height;
	}
}


#sidebar-menu {
	padding: 10px 0 30px 0;


	ul {
		li {
			position: relative;
			margin: 8px 0;
			list-style: none;

			.tooltip {
				position: absolute;
				top: -20px;
				left: calc(100% + 15px);
				z-index: 3;
				background: fn.get-color('white');
				box-shadow: 0 5px 10px fn.color-opacity('black', 0.3);
				padding: 6px 12px;
				border-radius: 4px;
				font-size: fn.font-size('sm');
				font-weight: 400;
				opacity: 0;
				white-space: nowrap;
				pointer-events: none;
				transition: 0s;
			}

			a {
				display: flex;
				padding: .625rem 1.5rem;
				color: fn.get-color('ghost-white');
				position: relative;
				font-size: fn.font-size('base');
				height: 100%;
				width: 100%;
				border-radius: 12px;
				align-items: center;
				text-decoration: none;
				transition: all .4s ease;
				background: fn.color-opacity('sidebar-dark', 0.9);

				i {
					display: inline-block;
					min-width: 1.75rem;
					padding-bottom: .125em;
					font-size: fn.font-size('xl');
					line-height: 1.40625rem;
					vertical-align: middle;
					transition: all .4s;
				}

				&:hover {

					.tooltip {
						opacity: 1;
						pointer-events: auto;
						transition: all 0.4s ease;
						top: 50%;
						transform: translateY(-50%);
					}

					color: fn.get-color('ghost-white');

					i {
						color: fn.get-color('ghost-white');
					}
				}
			}

			.badge {
				margin-top: 4px;
			}

		}

	}
}

@media (max-width: 992px) {
	.vertical-menu {
		display: none;
	}

	.main-content {
		margin-left: 0 !important;
	}

	body.sidebar-enable {
		.vertical-menu {
			display: block;
		}
	}
}

// Enlarge menu
.vertical-collpsed {

	.main-content {
		margin-left: $sidebar-collapsed-width;
	}

	.navbar-brand-box {
		width: $sidebar-collapsed-width !important;
	}

	.logo {
		span.logo-lg {
			display: none;
		}

		span.logo-sm {
			display: block;
		}
	}

	// Side menu
	.vertical-menu {
		position: absolute;
		width: $sidebar-collapsed-width !important;
		z-index: 5;

		.simplebar-mask,
		.simplebar-content-wrapper {
			overflow: visible !important;
		}

		.simplebar-scrollbar {
			display: none !important;
		}

		.simplebar-offset {
			bottom: 0 !important;
		}

		// Sidebar Menu
		#sidebar-menu {

			.collapse.in {
				display: none !important;
			}

			.nav.collapse {
				height: inherit !important;
			}

			>ul {
				>li {
					position: relative;
					white-space: nowrap;

					>a {
						display: flex;
						padding: .625rem 1.5rem;
						transition: none;
						border-radius: 12px;
						align-items: center;

						span {
							display: none;
							padding-left: 25px;
						}
					}

					&:hover {
						>a {
							position: relative;
							width: calc(190px + #{$sidebar-collapsed-width});
							transition: none;
							text-decoration: none;

							span {
								display: inline;
							}
						}

						>ul {
							display: block;
							left: $sidebar-collapsed-width;
							position: absolute;
							width: 190px;
							height: auto !important;
							box-shadow: 3px 5px 10px 0 fn.color-opacity('gray', 0.1, 'dark');

							ul {
								box-shadow: 3px 5px 10px 0 fn.color-opacity('gray', 0.1, 'dark');
							}

							a {
								box-shadow: none;
								padding: 8px 20px;
								position: relative;
								width: 190px;
								z-index: 6;

							}
						}
					}
				}

				ul {
					padding: 5px 0;
					z-index: 9999;
					display: none;
					background-color: fn.get-color('ghost-white');

					li {
						&:hover {
							>ul {
								display: block;
								left: 190px;
								height: auto !important;
								margin-top: -36px;
								position: absolute;
								width: 190px;
							}
						}

						>a {
							span.pull-right {
								position: absolute;
								right: 20px;
								top: 12px;
								transform: rotate(270deg);
							}
						}
					}

					li.active {
						a {
							color: fn.get-color('gray', 'light');
						}
					}
				}
			}
		}

	}
}





body[data-layout="horizontal"] {
	.main-content {
		margin-left: 0 !important;
	}
}

// Compact Sidebar

body[data-sidebar-size="small"] {
	.navbar-brand-box {
		width: $sidebar-width-sm;
	}

	.vertical-menu {
		width: $sidebar-width-sm;
		text-align: center;

		.has-arrow:after,
		.badge {
			display: none !important;
		}
	}

	.main-content {
		margin-left: $sidebar-width-sm;
	}

	.footer {
		left: $sidebar-width-sm;

		@media (max-width: 991.98px) {
			left: 0;
		}
	}

	#sidebar-menu {
		ul li {
			&.menu-title {
				background-color: color.adjust(fn.get-color('primary'), $lightness: 2%);
			}

			a {
				i {
					display: block;
				}
			}

			ul.sub-menu {
				li {
					a {
						padding-left: 1.5rem;
					}

					ul.sub-menu li a {
						padding-left: 1.5rem;
					}
				}
			}
		}
	}

	&.vertical-collpsed {
		.main-content {
			margin-left: $sidebar-collapsed-width;
		}

		.vertical-menu {
			#sidebar-menu {
				text-align: left;

				>ul {
					>li {
						>a {
							i {
								display: inline-block;
							}
						}
					}
				}
			}
		}

		.footer {
			left: $sidebar-collapsed-width;
		}
	}
}

// colored sidebar

body[data-sidebar="colored"] {
	.vertical-menu {
		background-color: get-color('primary');
	}

	.navbar-brand-box {
		background-color: get-color('primary');

		.logo-dark {
			display: none;
		}

		.logo-light {
			display: block;
		}
	}

	.mm-active {
		color: get-color('white') !important;

		>a {
			color: get-color('white') !important;

			i {
				color: get-color('white') !important;
			}
		}

		>i,
		.active {
			color: get-color('white') !important;
		}
	}

	#sidebar-menu {
		ul {
			li {
				&.menu-title {
					color: fn.color-opacity('white', 0.6);
				}

				a {
					color: fn.color-opacity('white', 0.6);

					i {
						color: fn.color-opacity('white', 0.6);
					}

					&.waves-effect {
						.waves-ripple {
							background: fn.color-opacity('white', 0.1);
						}
					}

					&:hover {
						color: fn.get-color('white');

						i {
							color: fn.get-color('white');
						}
					}
				}

				ul.sub-menu {
					li {
						a {
							color: fn.color-opacity('white', .5);

							&:hover {
								color: fn.get-color('white');
							}
						}
					}
				}
			}
		}
	}

	&.vertical-collpsed {
		.vertical-menu {
			#sidebar-menu {
				>ul {
					>li {
						&:hover>a {
							background-color: color.adjust(fn.get-color('primary'), $lightness: 2%);
							color: fn.get-color('white');

							i {
								color: fn.get-color('white');
							}
						}
					}
				}
			}
		}
	}
}
