@use '../abstracts/colors' as *;
@use '../abstracts/functions' as fn;
@use '../abstracts/variables' as *;

.btn.btn-colour-1 {
	color: fn.get-color('white');
	background-color: fn.color-opacity('primary', 0.9);
	border-color: fn.color-opacity('primary', 0.9);
	font-weight: bold;
	letter-spacing: fn.em(0.8);

	&:hover,
	&:active,
	&:focus,
	&.active {
		background: fn.get-color('text');
		color: fn.get-color('white');
		border-color: fn.color-opacity('primary', 0.9);
	}
}
