@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.btn.btn-colour-1 {
	color: get-color('white');
	background-color: rgba(get-color('primary'), 0.9);
	border-color: rgba(get-color('primary'), 0.9);
	font-weight: bold;
	letter-spacing: em(0.8);

	&:hover,
	&:active,
	&:focus,
	&.active {
		background: get-color('text');
		color: get-color('white');
		border-color: rgba(get-color('primary'), 0.9);
	}
}
