@use '../abstracts/colors' as *;
@use '../abstracts/functions' as fn;
@use '../abstracts/variables' as *;

.btn.btn-colour-1 {
	width: 100%;
	color: fn.get-color('white');
	background-color: fn.get-color('primary');
	border-color: fn.get-color('primary');
	font-weight: 600;
	letter-spacing: fn.spacing('0.5');
	padding: 0.625rem 1.5rem;
	margin-top: 1.95rem;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;

	&:hover,
	&:active,
	&:focus,
	&.active {
		background: fn.get-color('text');
		color: fn.get-color('white');
		border-color: fn.color-opacity('primary', 0.9);
	}
}
