@use '../abstracts/colors' as *;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	font-size: 0.875rem;
	background: fn.get-color('primary');
}

#footer .footer-top {
	padding: 60px 0 30px;
	background: fn.get-color('footer-bg');
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
	font-size: 1.75rem;
	margin-bottom: 10px;
	padding: 2px 0;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	color: fn.get-color('primary');
}

#footer .footer-top .footer-contact p {
	font-size: 0.875rem;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Jost", sans-serif;
	color: fn.get-color('gray-dark');
}

#footer .footer-top h4 {
	font-size: 1rem;
	font-weight: bold;
	color: fn.get-color('primary');
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: fn.get-color('tertiary');
	font-size: 1.125rem;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: fn.get-color('gray-light');
	@include mx.transition-default;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: fn.get-color('tertiary');
}

#footer .footer-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	color: fn.get-color('white');
}

#footer .copyright {
	float: left;
}

@media (max-width: 768px) {
	#footer .footer-bottom {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#footer .copyright,
	#footer .credits {
		text-align: center;
		float: none;
	}

	#footer .credits {
		padding-top: 4px;
	}
}
