@use "../abstracts/colors" as *;
@use "../abstracts/functions" as fn;
@use "../abstracts/mixins" as mx;

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	font-size: fn.font-size("sm");
	background: fn.get-color("primary");
}

#footer .footer-top {
	padding: fn.spacing("16") 0 fn.spacing("8");
	background: fn.get-color("footer-bg");
}

#footer .footer-top .footer-contact {
	margin-bottom: fn.spacing("8");
}

#footer .footer-top .footer-contact h3 {
	font-size: fn.font-size("xl");
	margin-bottom: fn.spacing("2.5");
	padding: fn.spacing("0.5") 0;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	color: fn.get-color("primary");
}

#footer .footer-top .footer-contact p {
	font-size: fn.font-size("sm");
	line-height: fn.spacing("6");
	margin-bottom: 0;
	font-family: "Jost", sans-serif;
	color: fn.get-color("gray", "dark");
}

#footer .footer-top h4 {
	font-size: fn.font-size("base");
	font-weight: bold;
	color: fn.get-color("primary");
	position: relative;
	padding-bottom: fn.spacing("3");
}

#footer .footer-top .footer-links {
	margin-bottom: fn.spacing("8");
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: fn.spacing("0.5");
	color: fn.get-color("tertiary");
	font-size: fn.font-size("lg");
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: fn.spacing("2.5") 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: fn.get-color("gray", "dark");
	@include mx.transition-default;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: fn.get-color("tertiary");
}

#footer .footer-bottom {
	padding-top: fn.spacing("8");
	padding-bottom: fn.spacing("8");
	color: fn.get-color("white");
}

#footer .copyright {
	float: left;
}

@media (max-width: 768px) {
	#footer .footer-bottom {
		padding-top: fn.spacing("5");
		padding-bottom: fn.spacing("5");
	}

	#footer .copyright,
	#footer .credits {
		text-align: center;
		float: none;
	}

	#footer .credits {
		padding-top: fn.spacing("1");
	}
}
