@use 'functions' as fn;

// Mixin for default transitions
@mixin transition-default {
	transition: all 0.5s ease;
}

@mixin color-opacity($color-name, $opacity) {
	background-color: fn.color-opacity($color-name, $opacity);
}

// Tailwind-like utility mixins
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin transition($property: all) {
	transition-property: $property;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin shadow($level: 'DEFAULT') {
	@if $level =='sm' {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	}

	@else if $level =='DEFAULT' {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	}

	@else if $level =='lg' {
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
	}
}

// Align breakpoints with Tailwind's default breakpoints:
$breakpoints: (
    'sm': '640px',
    'md': '768px',
    'lg': '1024px',
    'xl': '1280px',
    '2xl': '1536px'
);
