@use 'colors' as *;
@use 'functions' as fn;

$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 160px;

// scss-docs-start box-shadow-variables
$box-shadow-sm: 0 .125rem .25rem fn.color-opacity('black', .075);
$box-shadow: 0 0.75rem 1.5rem fn.color-opacity('black', .03);
$box-shadow-lg: 0 1rem 3rem fn.color-opacity('black', .175);
$box-shadow-inset: inset 0 1px 2px fn.color-opacity('black', .075);

$header-height: 70px;
$header-bg: get-color('white');
$header-item-color: #555b6d;

$grid-columns: 12;
$grid-gutter-width: 24px;
$grid-row-columns: 6;

$boxed-layout-width: 1300px;
$boxed-body-bg: #ebebf4;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Theme colors
$theme-colors: (
	'body-background': get-color('body-bg'),
	'text-primary': get-color('text'),
	'text-muted': get-color('gray-light'),
	'link': get-color('secondary'),
	'link-hover': get-color('tertiary'),
	'header-bg': get-color('primary'),
	'footer-bg': get-color('footer-bg'),
	'button-primary': get-color('accent-blue'),
	'button-hover': darken-color('accent-blue', 10%)
);
